<div class="row justify-content-sm-center">
  <div class="col-sm-8 col-md-6">
    <div class="card border-0 shadow">
      <form [formGroup]="form">
        <div class="card-header border-0">
          <h5 class="card-title mb-0 py-2">{{ title }}</h5>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-md-8 mb-2">
              <label for="name">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="name"
                maxlength="40"
                formControlName="name"
              />
              <ng-container *ngIf="isValid('name')">
                <small id="emailHelp" class="form-text text-danger">
                  El nombre es requerido
                </small>
              </ng-container>
            </div>
            <div class="col-md-4 mb-2">
              <label for="code">Código Dane</label>
              <input
                type="text"
                class="form-control"
                id="dane"
                maxlength="4"
                formControlName="dane"
              />
              <ng-container *ngIf="isValid('dane')">
                <small id="daneHelp" class="form-text text-danger">
                  El código dane es requerido
                </small>
              </ng-container>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-8 mb-2">
              <label for="type">Tipo</label>
              <input
                type="text"
                class="form-control"
                id="type"
                maxlength="40"
                formControlName="type"
              />
              <ng-container *ngIf="isValid('type')">
                <small id="emailHelp" class="form-text text-danger">
                  El tipo es requerido
                </small>
              </ng-container>
            </div>
            <div class="col-md-4 mb-2">
              <label for="cityId">Id Ciudad</label>
              <input
                type="text"
                class="form-control"
                id="cityId"
                maxlength="4"
                formControlName="cityId"
              />
              <ng-container *ngIf="isValid('cityId')">
                <small id="cityIdHelp" class="form-text text-danger">
                  El Id de ciudad es requerido
                </small>
              </ng-container>
            </div>
          </div>
          <div class="form-row">
            <div class="col py-2">
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="disabled"
                  formControlName="status"
                />
                <label class="custom-control-label" for="disabled">
                  Activo
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer border-0 text-right">
          <a
            [routerLink]="['/admin/parametros/ciudades']"
            class="btn btn-warning shadow-none mr-2"
          >
            Regresar
          </a>
          <button
            type="submit"
            class="btn shadow-none"
            [ngClass]="{ 'btn-success': id, 'btn-primary': !id }"
            [disabled]="form.invalid"
            (click)="save()"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
